.l-header,
.l-footer{
    width: 100%;
}

.l-header .l-inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.l-footer{
    margin-top: 100px;
}

.l-footer-details{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0 !important;
}

.l-container{
    width: 100%;
    padding: 15px 20px;
    margin: 0 auto;
}

@media only screen and (min-width: 576px){
    .l-container{
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px){
    .l-container{
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px){
    .l-container{
        max-width: 960px;
    }
} 

@media only screen and (min-width:1200px){
    .l-container{
        max-width: 1140px;
    }
}

